# A brief introduction to Jupyter notebooks

@adam -> add part from first ADAMS tutorial maybe with adjustments to introduce students to notebooks, their purpose, markdown and code cells, etc.


[Markdown cheat sheet](https://github.com/adam-p/markdown-here/wiki/Markdown-Here-Cheatsheet#code) or this [Medium post](https://medium.com/analytics-vidhya/the-ultimate-markdown-guide-for-jupyter-notebook-d5e5abf728fd) 

Link to some page introducing add-ins to customize Jupyter

# Common Math Functions

As a little introduction, let's first use Python as a calculator and see how it behaves. Notice that how the program can separate lines of code into cells. Cells can only display one output although all lines of code are executed. If you'd like it to produce multiple at once, it can be useful to use the print command as shown at the end.

By adding the character "#", you are telling Python to ignore the following characters on the same line. This is called creating a commend and can be very useful to explain your code to others.

In [1]:
1+1 # Python will ignore everything after "#"

2

In [2]:
333/10

33.3

In [3]:
333 // 10 # returns you the floor of the quotient (result of the division rounded down to the nearest integer)

33

In [4]:
1+1/2 # Python follows order of operations

1.5

In [5]:
333 % 10 # returns remainder of the division

3

In [6]:
3 ** 3 # Python uses "**" instead of "^" for exponents

27

In [7]:
print(1+1, 2+2) # if you need to print multiple items, separate them with a "," in the print() function. We will talk about functions soon.

2 4

# Using Variables

One very useful feature of nearly every programming language is the ability to give variables a fixed name. Simply use the formula:

variable_name = desired_value

After this, every time you type the variable, Python will refer to the value it has been assigned. If the same variable name is ever used, the value will be overwritten.

Note that Python will consider all types of text as some kind of variable or command. If you ever want to create or reference actual text, it must be between quotation marks. This is called a string in Python. If you want Python to ignore text all together, use "#" to indicate a comment.

In [8]:
a = 1 # all future cells will now refer to a as 1
b = 2 # similarly, all future cells will refer to b as 2

a+b

3

In [9]:
print(a)

1

In [10]:
a*5

5

In [11]:
b ** 5 # note that "**" means exponent

32

In [12]:
a = 500 # if you use the same variable name again, you overwrite the previous value

a+b

502

In [13]:
# Python only displays the last line of output from a cell

a*b # This line will be executed in Python, but since the next line causes an output and it comes afterwards, only its output will be displayed

a+b

502

In [14]:
print(a*b, a+b) # using print and a comma separating items will print everything

1000 502

The following line will produce an error because Python will interpret each word as a variable and try to look up the value assigned to each of these variables. Clearly, this will not work since we have no variable `can` or `I`.

In [15]:
Can I just write?

SyntaxError: ignored

Besides, the above statement is also incorrect from a syntactical point of view. Every programming language has specific rules that determine which statements are allowed and which will raise an error. Recall that you can use a markdown cell just like this cell to simply write plain text. Else, if you want to store a piece of text in a variable, you need quotation marks. We use double quotes in our examples but Python would also accept single quotes.

In [2]:
a = "you can't add strings to numbers" # if you want to generate text for Python to remember, use quotation marks around the text to create a string (str for short)

print(a)

you can't add strings to numbers

In [18]:
b = ", but you can add strings together!"

a+b # you can even concatenate (attach) strings if you'd like

"you can't add strings to numbers, but you can add strings together!"

Interestingly, if you create a variable that stores text, Python provides you with some neat functionality to manipulate text. Consider the following example and note the dot behind the name of the variable. This is an important syntax pattern, which we will explain in more detail below.

In [5]:
a.upper()

"YOU CAN'T ADD STRINGS TO NUMBERS"

In [6]:
a.lower()

"you can't add strings to numbers"

In [9]:
a.islower()

True

In [10]:
a.upper().islower()  # This might look bizar. Try to figure out how this works

False

# Functions

There are a large number of functions avaialble in Python which perform specific tasks. We already saw one function, print( ). We also just saw functions like `islower()` in action.

Inside the parentheses of functions are **arguments**. These give more details on what actions the function should take. Arguments are separated by commas.

In [19]:
round(3.14, 1) # round takes 2 arguments, the first argument is the number to round and the second is the number of desired decimal places

3.1

Some functions require you to specify the argument name as well. For example, print( ) allows us to add a separator between items to print. You must specify this argument by typing "sep=" and identifying the character to print between items.

In [20]:
print("please", "bring", "snacks", sep="...")

please...bring...snacks

# Data Types

There are _many_ data types in Python. To check the type of an object, use the function type( ).


The most common ones that you will encounter as a data scientist are:


*   float
*   integer
*   string
*   boolean (True/False value)
*   list
*   dictionary
*   NumPy array (in future tutorials)
*   Pandas Series (in future tutorials)
*   Pandas DataFrame (in future tutorials

Aside from these, you will definitely see many more. Let's explore these a bit.

In [21]:
a = 5

b = 5.00

print(type(a), type(b)) # integers have no decimals while floats do

<class 'int'> <class 'float'>

In [22]:
c = "any text between single or double quotes is a string" # you can use single or double quotes around strings
d = 'any text between single or double quotes is a string'

## Booleans

**Booleans** check a condition and return True if the condition is satisfied or False if not.

To check if something is equal and get a Boolean value, use "==". Recall that "=" assigns variables.

You can also create conditions using "<", ">" and:

*   ">=" greater than or equal to
*   "<=" less than or equal to
*   "!=" not equal to

Note that you can create Booleans using other many methods which evaluate conditions.

For example, there is the function isinstance(x, var_type) which returns the Boolean value if variable x is equivalent to the type specified.

In [23]:
a = 5

b = 5.00

print(a>b, a==b, a>=b, a!=b)

False True True False

In [24]:
c = "any text between single or double quotes is a string"
d = 'any text between single or double quotes is a string'

print(c==d) # as mentioned, even though the second uses single quotations, it is equivalent in Python

True

In [25]:
print(isinstance(c, str)) # many functions may return Boolean values like this which checks if variable c is a string (use the short form str),

True

In [26]:
print(True == 1, False == 0) # the Boolean value of True is equal to 1, similarly, the Boolean value of False is equal to 0. This will be useful for categorical variables.

True True

In [34]:
# Python only recognizes False and True as a Boolean value, FALSE and false (TRUE and true) are considered possible variable names.
print(type(False), type(True))

<class 'bool'> <class 'bool'>

In [35]:
print(type(FALSE))

NameError: ignored

## Lists, Indexing & Slicing

**Lists** contain a number of items in sequence. The items can be of different types as well. Lists are created by putting contents sequentially in square brackets. You can initialize an empty list by putting an empty set of square brackets.

To call items in a list, you can refer to their position or index in square brackets. Note that counting in Python starts at 0 (this is formally called 0 Indexing). This means that to access the first item in a list, you must call list_name[0]. Indexing calls the unique position of an item.

In [28]:
just_some_empty_list = [] # initalizing empty lists will be useful later on, this simple trick is worth remembering

type(just_some_empty_list)

list

In [29]:
whats_in_my_fridge = ["cucumber", "pasta sauce", "leftovers", "margarine", "tomato"]

whats_in_my_fridge[0] # calls first element of list or the item at place/index 0

'cucumber'

In [30]:
whats_in_my_fridge[1] = "kartoffelsalat" # you can replace items using indexing

print(whats_in_my_fridge)

['cucumber', 'kartoffelsalat', 'leftovers', 'margarine', 'tomato']

In [31]:
del whats_in_my_fridge[2] #if I ate my leftovers, we can delete it from the list like so

print(whats_in_my_fridge)

['cucumber', 'kartoffelsalat', 'margarine', 'tomato']

Slicing is how data is often selected in Python. Use the index plus ":". The ":" can be read as _up to but not including_ .

For example, 2:10 means _item 2 up to but not including item 10_. If you don't Include a start point or an end point for slicing, Python will start at the very beginning of the index or go to the very end of the index.

In [36]:
whats_in_my_fridge[0:2] # select item 0 up to but not including item 2

['cucumber', 'kartoffelsalat']

In [37]:
whats_in_my_fridge[2:] # select item 2 up to the end of the list. IF we wrote [:2], Python would have fetched the very beginning up to but not including item 2.

['margarine', 'tomato']

In [39]:
whats_in_my_fridge.index('tomato') # each data type has associated "methods and attributes". For example, lists have the .index() method which fetches the index positions

# it is very useful to learn more about possible methods and attributes of your data types as they will make programming much easier

3

# Dictionaries

Leverage the fact we already talked about lists to discuss dictionaries.

# Other Data Types

To be discussed in the next session probably? Namely using NumPy and Pandas

# Getting Help

Using help( ) and where to look if you get stuck

# Further Your Understanding

Will add links about simple things here if students are curious

https://docs.python.org/2.4/lib/typesnumeric.html