# Python Introduction

## Table of Contents

Welcome to this introduction of Python! This tutorial will review the following:

1.   Jupyter Notebook
2.   Common Math Functions
3.   Using Variables
4.   Data Types
5.   Methods and Attributes
5.   If-Statements and Loops
6.   Functions
7.   Libraries
8.   Getting Help
9.   NumPy

# Jupyter Notebook

Jupyter has two modes. When the cell marker is blue, you can select cells with the keyboard arrows and handle them by creating new cells, moving, copying or deleting them. When you press Enter while selecting a cell, you jump into editing mode and can change the content of a cell, e.g. by writing code.

The types of actions you can perform are listed under Help > Keyboard shortcuts



*   New cells are inserted with a (above) or b (below)
*   Cells can be c copied, x cut and v pasted
*   Cells are deleted by pressing d two times
*   To run a cell and select the next cell: Shift + Enter
*   While typing, use Tab to finish the object name for you and Shift + Tab to see the documentation  

It is worth remembering the shortcuts to work efficiently. Also check out notebook magic commands starting with % when things get more interesting.

## Cell Types

A Jupyter notebook usually consists of text describing the context of the problem and describing the code as well as the actual code. Text is written in markup cells, which allow nice formatting similar to LaTeX, while code should be written in code cells. There, the code can be run interactively and the output will be visualized in the notebook.

You can change the cell content with 'm' for markup and 'y' for code. Remember that you need to be in selection (or command) mode.

# Common Math Functions

As a little introduction, let's first use Python as a calculator and see how it behaves. Notice that how the program can separate lines of code into cells. Cells can only display one output although all lines of code are executed. If you'd like it to produce multiple at once, it can be useful to use the print command as shown at the end.

By adding the character "#", you are telling Python to ignore the following characters on the same line. This is called creating a comment and can be very useful to explain your code to others.

In [1]:
1+1 # Python will ignore everything after "#"

2

In [2]:
333/10

33.3

In [3]:
333 // 10 # returns you the floor of the quotient (result of the division rounded down to the nearest integer)

33

In [4]:
1+1/2 # Python follows order of operations

1.5

In [5]:
333 % 10 # returns remainder of the division

3

In [6]:
3 ** 3 # Python uses "**" instead of "^" for exponents

27

In [7]:
print(1+1, 2+2) # if you need to print multiple items, separate them with a "," in the print() function. We will talk about functions soon.

2 4

# Using Variables

One very useful feature of nearly every programming language is the ability to give variables a fixed name. Simply use the formula:


> variable_name = desired_value


Your variable names MUST NOT begin with a number, include a dash or space.

After this, every time you type the variable, Python will refer to the value it has been assigned. If the same variable name is ever used, the value will be overwritten.

Note that Python will consider all types of text as some kind of variable or command. If you ever want to create or reference actual text, it must be between quotation marks. This is called a string in Python. If you want Python to ignore text all together, use "#" to indicate a comment.

In [8]:
a = 1 # all future cells will now refer to a as 1
b = 2 # similarly, all future cells will refer to b as 2

a+b

3

In [9]:
a, b = 1, 2 # assigns variables above in the same way but in one line

a+b

3

In [10]:
a = z = 1 # another way to assign multiple variables of the same value

z

1

In [11]:
print(a)

1

In [12]:
a*5

5

In [13]:
b ** 5 # remember "**" means exponent

32

In [14]:
a = 500 # if you use the same variable name again, you overwrite the previous value

a+b

502

In [15]:
# Python only displays the last line of output from a cell

a*b # This line will be executed in Python, but since the next line causes an output and it comes afterwards, only its output will be displayed

a+b

502

In [16]:
print(a*b, a+b) # using print and a comma separating items will print everything

1000 502

In [17]:
#Can I just write? #this will generate an error because Python will try to look up the value assigned to each word as a variable and find nothing

In [18]:
a = "you can't add strings to numbers" # if you want to generate text for Python to store in memory, use quotation marks around the text to create a string (str for short)

print(a)

you can't add strings to numbers

In [19]:
b = ", but you can add strings together!"

a+b # you can even concatenate (attach) strings if you'd like

"you can't add strings to numbers, but you can add strings together!"

# Data Types

There are _many_ data types in Python. To check the type of an object, use the function type( ).


The most common ones that you will encounter as a data scientist are:


*   integer (eg. 100)
*   float (eg. 100.0)
*   string (eg. "Hello World!")
*   boolean (eg. True)
*   list (eg. ["one", "two", "three"] )
*   tuples (eg. ("one", "two", "three") )
*   range (eg. range(0,9,3) )
*   dictionary (eg. {"mammal": "platypus", "fish": "eel"} )
*   NumPy array (in future tutorials)
*   Pandas Series (in future tutorials)
*   Pandas DataFrame (in future tutorials)

Aside from these, you will definitely see many more. Let's explore these a bit.

## Integers and Floats

These are going to likely be the most common types that you will encounter. Integers are whole numbers while floats contain decimals. If you store a large number of digits, Python slightly adjusts the number type in the background. Numbers with more digits take longer for the computer to process, so Python always tries to store the simples formats possible to save time.

In [20]:
a = 5

b = 5.00

print(type(a), type(b)) # integers have no decimals while floats do

<class 'int'> <class 'float'>

In [21]:
int(b) # converts b to an integer, note that if we do not assign this back to b by executing "b=int(b)", b will not change

5

In [22]:
b = int(b)

b

5

## Strings

Strings are like pieces of text. They are always enclosed between quotation marks, single or double quotes both work. You can convert numbers to strings too. Note that they will now have all the properties of strings.

In [23]:
c = "any text between single or double quotes is a string" # you can use single or double quotes around strings
d = 'any text between single or double quotes is a string'

In [24]:
a = str(a) # if we want to turn the number that we assigned to a into a string, we can use the str( ) function

a*10 # now instead of 1*10, Python is performing '1'*10 so it will paste '1' 10 times

'5555555555'

In [25]:
a = int(a) #you can change a string back to a number back by using int() or float()

a*10

50

In [26]:
print(c[0], c[2]) # you can find the nth letter in a string by enclosing n-1 in square brackets (since Python starts counting at 0)

a y

In [27]:
len(c) # gives you the number of characters in the string, this will be useful in Natural Language Processing (NLP) and more

52

Other tricks with strings can be found here: https://www.w3schools.com/python/python_strings.asp .

## Booleans

**Booleans** check a condition and return True if the condition is satisfied or False if not.

To check if something is equal and get a Boolean value, use "==". Recall that "=" assigns variables.

You can also create conditions using "<", ">" and:

*   ">=" greater than or equal to
*   "<=" less than or equal to
*   "!=" not equal to
*   "is" and "is not" also yield Booleans, however they require exact matches in data types unlike "==" and "!="

Note that you can create Booleans using other many methods which evaluate conditions.

For example, there is the function isinstance(x, var_type) which returns the Boolean value if variable x is equivalent to the type specified.

In [28]:
e = 5

f = 5.00

print(e>f, e==f,  e>=f, e!=f)

False True True False

In [29]:
print(e is f) # note that since a is not exactly b in terms of types, is in this case returns False

False

In [30]:
c = "any text between single or double quotes is a string"
d = 'any text between single or double quotes is a string'

print(c==d) # as mentioned, even though the second uses single quotations, it is equivalent in Python

True

In [31]:
print(isinstance(c, str)) # many functions may return Boolean values like this one which checks if variable c is a string (use the short form str)

True

In [32]:
print(True == 1, False == 0) # the Boolean value of True is equal to 1, similarly, the Boolean value of False is equal to 0. 
# this will be useful for categorical variables.

True True

In [33]:
# Python only recognizes False and True as a Boolean value, FALSE and false (TRUE and true) are considered possible variable names.
print(type(False), type(True))

<class 'bool'> <class 'bool'>

In [34]:
print(type(FALSE)) # only False works as a boolean value, otherwise, Python thinks it's a variable

NameError: ignored

We can combine conditions with:
*    and (all must be satisfied)
*    or (at least 1 must be satisfied)
*    not (reverses result)

In [35]:
p = 1
q = 2

p > q and p < q # since both must be satisfied, but each is an opposite, this must be False

False

In [36]:
p > q or p < q # since at least one of these is true, it is True

True

In [37]:
not (p == q) # the expression in brackets is False but "not" reverses that

True

## Lists, Indexing & Slicing

**Lists** contain a number of items in sequence. The items can be of different types as well. Lists are created by putting contents sequentially in square brackets separated by commas. You can initialize an empty list by putting an empty set of square brackets.

To call items in a list, you can refer to their position or index in square brackets. Note that counting in Python starts at 0 (this is formally called 0 Indexing). This means that to access the first item in a list, you must call list_name[0]. Indexing calls the unique position of an item.

In [38]:
just_some_empty_list = [] # initalizing empty lists will be useful later on, this simple trick is worth remembering

type(just_some_empty_list)

list

In [39]:
whats_in_my_fridge = ["cucumber", "pasta sauce", "leftovers", "margarine", "tomato"]

whats_in_my_fridge[0] # calls first element of list or the item at place/index 0

'cucumber'

In [40]:
whats_in_my_fridge[-1] # items can be called using negative numbers, the final item in the list is index -1, second last is -2 and so on

'tomato'

In [41]:
whats_in_my_fridge[1] = "kartoffelsalat" # you can replace items using indexing

print(whats_in_my_fridge)

['cucumber', 'kartoffelsalat', 'leftovers', 'margarine', 'tomato']

In [42]:
del whats_in_my_fridge[2] #if I ate my leftovers, we can delete it from the list like so

print(whats_in_my_fridge)

['cucumber', 'kartoffelsalat', 'margarine', 'tomato']

Slicing is how data is often selected in Python. Use the index plus ":". The ":" can be read as _up to but not including_ .

For example, 2:10 means _item 2 up to but not including item 10_. If you don't Include a start point or an end point for slicing, Python will start at the very beginning of the index or go to the very end of the index.

In [43]:
whats_in_my_fridge[0:2] # select item 0 up to but not including item 2

['cucumber', 'kartoffelsalat']

In [44]:
whats_in_my_fridge[2:] # select item 2 up to the end of the list. IF we wrote [:2], Python would have fetched the very beginning up to but not including item 2.

['margarine', 'tomato']

In [45]:
what_i_want_in_fridge = ["apples"]

tomorrow_in_my_fridge = whats_in_my_fridge + whats_in_my_fridge

tomorrow_in_my_fridge # you can also add two lists to combine them

['cucumber',
 'kartoffelsalat',
 'margarine',
 'tomato',
 'cucumber',
 'kartoffelsalat',
 'margarine',
 'tomato']

In [46]:
whats_in_my_fridge.append('spring rolls') # each data type has associated "methods and attributes". For example, lists have the .append() method which adds a new specified item

# it is very useful to learn more about possible methods and attributes of your data types as they will make programming much easier

print(whats_in_my_fridge)

['cucumber', 'kartoffelsalat', 'margarine', 'tomato', 'spring rolls']

In [47]:
whats_in_your_fridge = whats_in_my_fridge

whats_in_your_fridge[1] = "hummus"

print(whats_in_your_fridge, whats_in_my_fridge) # wait, we changed YOUR fridge, why did my fridge change too?

['cucumber', 'hummus', 'margarine', 'tomato', 'spring rolls'] ['cucumber', 'hummus', 'margarine', 'tomato', 'spring rolls']

In [48]:
# variable names refer to the original list, to create a copy which you want to edit separately, use .copy()

whats_in_your_fridge = whats_in_my_fridge.copy()

whats_in_your_fridge[2] = "guacamole"

print(whats_in_your_fridge, whats_in_my_fridge)

['cucumber', 'hummus', 'guacamole', 'tomato', 'spring rolls'] ['cucumber', 'hummus', 'margarine', 'tomato', 'spring rolls']

### List Comprehensions
If you want to apply the same function to every item in a list, you can use a list comprehension. This takes on the following format:

[_action_ for _item_ in _list_]

In [49]:
[len(item) for item in whats_in_my_fridge] # here we get the length of each string in the list

[8, 6, 9, 6, 12]

In [50]:
[item[0] for item in whats_in_my_fridge] # here is another example where we get the first letter of every item

['c', 'h', 'm', 't', 's']

Other tricks with lists can be found here: https://www.w3schools.com/python/python_lists.asp

## Tuples

Tuples are objects stored together. These objects also cannot be altered like lists. Instead of being stored in square brackets, tuples are stored in round brackets.

Unlike lists, tuples cannot be altered. You can convert them to lists and alter them that way.

In [51]:
cool_tuple = ("ponies", "unicorns", "sharks with laser beams on their heads")

type(cool_tuple)

tuple

In [52]:
cool_tuple[2] # indexing works the same way as lists

'sharks with laser beams on their heads'

In [53]:
item_1, item_2, item_3 = cool_tuple # you can break tuples up into individual elements by assigning each to a variable

print("I want", item_1, ", ", item_2, "and especially", item_3)

I want ponies ,  unicorns and especially sharks with laser beams on their heads

In [54]:
cool_list = list(cool_tuple) # tuples CANNOT be changed, but you can turn them into a list and then altered that way

cool_list # notice the square brackets

['ponies', 'unicorns', 'sharks with laser beams on their heads']

In [55]:
another_cool_tuple = True, # if you want a tuple with one item, you don't even need brackets, just put a comma after the object

cool_tuple + another_cool_tuple # adding tuples just causes them to get combined together, you can assign this to a new variable if you'd like

('ponies', 'unicorns', 'sharks with laser beams on their heads', True)

## Other Data Types

As mentioned, there are many other data types. Some are only available after loading a specific library into Python. As you load new libraries, check its documentation to learn more about how you can effectively use its elements.

# Methods and Attributes

Every data type has its own methods and attributes attached to it. It is very useful to get to know these as they encompass common tasks which may otherwise require you to import functions which are not actually necessary.

**Methods** are specific functions to be implemented on your object. Again, this only works for specific functions which are associated with the object. Not every function can be called like this.

The format to call one of your object's methods is as follows:



```
object_name.method(possible_arguments)
```

**Attributes** are properties of your object which can be displayed. The format to call them is similar but note the absence of parentheses:

```
object_name.attribute
```
Attributes are more common in more advanced data types. In the final section for today, we will see some with NumPy arrays.

**Lists** have many useful methods. You can view some of the most useful here: https://docs.python.org/3/tutorial/datastructures.html .

Let's observe some examples:

In [56]:
words_i_like = ['fuzzy', 'muffle', 'truck']

words_i_like.append('roar')

words_i_like.reverse()

words_i_like

['roar', 'truck', 'muffle', 'fuzzy']

In [57]:
words_i_like.sort(reverse=True)

words_i_like

['truck', 'roar', 'muffle', 'fuzzy']

**Strings** have many methods associated. You can review all here: https://docs.python.org/3/library/stdtypes.html#string-methods

In [58]:
sea_shells = "she sells sea shells by the sea shore"

sea_shells.upper()

'SHE SELLS SEA SHELLS BY THE SEA SHORE'

# If-Statements and Loops

Another useful feature of almost every programming language is to go through a set of objects and apply the same set of actions on each object. This is called a loop. They can also evaluate whether a statement is true and execute actions according to that status. This is called an if-statement.

## If-Statements
If-Statements in Python take the form:


```
if condition == True:
 action
else:
 action
 ```

If there are multiple conditions, you can extend this with elif:
```
if condition == True:
 action
elif condition == True:
  action
else:
 action
 ```
Let's observe some simple loops.

In [59]:
if 1 > 2 :
  print("logic!")
else:
  print("no logic :(")

no logic :(

In [60]:
if 2 > 1 :
  print("logic!")
else:
  print("no logic :(")

logic!

In [61]:
places_to_visit = ["area 51", "bermuda triangle", "el dorado"]

if "atlantis" not in places_to_visit: # for lists, we can use "in" and "not in" to return a Boolean
  places_to_visit.append("atlantis")
else:
  places_to_visit

places_to_visit

['area 51', 'bermuda triangle', 'el dorado', 'atlantis']

In [62]:
toothbrushes_packed = 100

if toothbrushes_packed == 0:
  toothbrushes_packed += 1 # this format adds 1 to the variable on the left
  print("Thanks for reminding me, I just packed", toothbrushes_packed, "!")
elif toothbrushes_packed == 1:
  print("All set! I already packed", toothbrushes_packed, "!")
else:
  print("Oops, looks like I put", toothbrushes_packed, "in my bag. I'll just take one.")
  toothbrushes_packed=1

toothbrushes_packed

Oops, looks like I put 100 in my bag. I'll just take one.

1

## Loops

Loops iterate through a sequence of items (such as a list) and perform an action on each item.

For-loops are the most common type of loop that you will encounter. They take the following form:


```
for dummy_item_name in sequence:
  ... dummy_item_name ...
```

In [63]:
place_name_length=[] # initializing an empty list before the loop allows us to simply add items to it within the loop

for place in places_to_visit: # for each item in places_to_visit, assign the temporary label "place"
  place_name_length.append(len(place)) # apply this action to each item "place" one by one

place_name_length

[7, 16, 9, 8]

In [64]:
reverse_names = []

for p in places_to_visit:
  reverse_names.append(str(list(p).reverse()))

reverse_names

['None', 'None', 'None', 'None']

# Functions

There are a large number of functions available in Python which perform specific tasks. We already saw one function, print( ). If a function for your purpose doesn't exist, you can always create your own very simply.

Inside the parentheses of functions are **arguments**. These give more details on what actions the function should take. Arguments are separated by commas.

## Pre-Built Functions

In [65]:
round(3.14, 1) # round takes 2 arguments, the first argument is the number to round and the second is the number of desired decimal places

3.1

Some functions require you to specify the argument name as well. For example, print( ) allows us to add a separator between items to print. You must specify this argument by typing "sep=" and identifying the character to print between items.

In [66]:
print("please", "bring", "snacks", sep="...")

please...bring...snacks

A full list of Python's built in functions are here: https://docs.python.org/3/library/functions.html .

Some of the most important functions here are ones that force variables to become different types such as set( ), str( ) and range( ) among others. You wil learn about these types in the next topic of the tutorial.

Note that in most cases, you will be loading a **library** of new functions to add to these built-in functions. We will be looking at libraries soon.

## Creating Functions

It is very easy to create your own new function in Python. The following form is necessary:


```
def function_name (arg1, arg2 = default_value, arg3 ...):
    ...arg1...arg2...arg3...
    return val;
```

Let's look at some examples.

In [67]:
def div_two(x):
    print(x/2)

div_two(500)

250.0

In [70]:
def add_dramatic_pause(word1,word2, drama_level=1):
  """ Puts a desired number of elipses between two words. 
  Very useful if you want a lot of drama. """ # using three quotation marks is standard to describe your function, this is a multi-line comment
  dramatic_phrase = word1 + "..."*drama_level + word2
  return dramatic_phrase

add_dramatic_pause("I'll come back", "never!") # since drama_level has a default value of 1, we can omit it in the call if that level is ok

"I'll come back...never!"

In [71]:
last_words = add_dramatic_pause("please", "bring me a cookie.", drama_level=3) # by using return, you can assign the output to a variable

last_words

'please.........bring me a cookie.'

In [72]:
def create_pizza_controversy(): # your whole function can just be an execution of other functions
  pizza_drama = add_dramatic_pause("In my opinion", "pineapple doesn't belong on pizza", drama_level=2)
  return pizza_drama

create_pizza_controversy()

"In my opinion......pineapple doesn't belong on pizza"

## Lambda Functions

We can also create short functions using the following format:
```
functionname = lambda arg1, arg2: ...arg1...arg2
```
Let's create a similar example to before using this format.

In [73]:
alternative_drama = lambda word1, word2, drama_level=1: word1 + "!!!"*drama_level + word2 + '!!!'*drama_level

alternative_drama("please", "bring me a cookie")

'please!!!bring me a cookie!!!'

# Libraries

Python has a plethora of libraries which serve an even more enormous amount of purposes. In this course, you will encounter a lot of NumPy, Pandas, matplotlib, Seaborn and Sci-Kit Learn. Many others will likely come of use which you may have to dig into yourself for your own purposes.

To begin using a library, we must install it. This can be done in several ways:

1.   Install manually via Anaconda Netvigator (Environments)
2.   Install via Anaconda terminal (advised at set-up stage) - recommended
3.   Install in Jupyter notebook (!{sys.executable} -m pip install numpy OR !conda install --yes --prefix {sys.prefix} numpy)
4.   Install in Jupyter notebook via !pip install - not recommended

After a successful installation, you must import it. Often, we will use "as" afterwards to give it an alias. There are common aliases for many libraries. For example, NumPy is always given np and Pandas, pd.

If you want to use a specific function from this library, first type the library name (or alias) and then ".", then the function name. You can also rename the function for simpler use later.

In [74]:
# math functionality
import numpy as np
# data frame capabilities similar to data.table in R
import pandas as pd
# plotting functionality
import matplotlib.pyplot as plt
%matplotlib inline
# statistical data visualization
import seaborn as sns
# scikit-learn (sklearn) is *the* standard package for machine learning in python

In [75]:
np.mean([2, 4, 6])

4.0

In [76]:
average = np.mean # this now assigns the variable average to act like np.mean()

average([2,4,6])

4.0

If you only want to import a specific function from a library instead of the whole thing, you can use the following format:

> from _library_ import _function_

This saves disc space and reduces the chance that you'll have multiple functions of the same name imported. 

You also do not have to write the library name in front of the function when you do this.

In [77]:
from sklearn.preprocessing import StandardScaler

StandardScaler([2,4,6, 1000])

StandardScaler(copy=[2, 4, 6, 1000], with_mean=True, with_std=True)

# Getting Help

Using help( ) and where to look if you get stuck

# NumPy

This package is one of the most important to understand for data science and business analytics. It includes many functions and data types that speed up task time when dealing with numbers.

In [78]:
import numpy as np

ourlist = [1,2,3,4,5]
ourlist

[1, 2, 3, 4, 5]

In [79]:
np.array(ourlist)

array([1, 2, 3, 4, 5])

In [80]:
print(np.sqrt(ourlist),np.exp(ourlist))

[1.         1.41421356 1.73205081 2.         2.23606798] [  2.71828183   7.3890561   20.08553692  54.59815003 148.4131591 ]

In [81]:
listoflists=[[1,2,3],[4,5,6],[7,8,9]]
listoflists

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [82]:
np.array(listoflists)

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [83]:
np.arange(0,10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [84]:
np.ones((3,4)) # matrix with all 1s

array([[1., 1., 1., 1.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.]])

In [85]:
np.linspace(0,5,10)

array([0.        , 0.55555556, 1.11111111, 1.66666667, 2.22222222,
       2.77777778, 3.33333333, 3.88888889, 4.44444444, 5.        ])

In [86]:
np.eye(6) #identity matrix

array([[1., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 0., 1.]])

In [87]:
# setting a value with index range (broadcasting)
some_array = np.arange(0,20)
some_array[0:5]=0
some_array

array([ 0,  0,  0,  0,  0,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19])

In [88]:
#Important note!
slice_of_some_array = some_array[0:4] # let's take a slice of this array and assign it to a new variable
slice_of_some_array

array([0, 0, 0, 0])

In [89]:
slice_of_some_array[:] = 999 # change some values in the array
slice_of_some_array

array([999, 999, 999, 999])

In [90]:
some_array # remember how when we changed a renamed list, the original list changed? Same problem!

array([999, 999, 999, 999,   0,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19])

In [91]:
slice_of_some_array=some_array[0:4].copy() # create a separate duplicate to change independently
slice_of_some_array

array([999, 999, 999, 999])

In [92]:
slice_of_some_array[:]=0 # reset some values
some_array # now we see no changes occurred to the original

array([999, 999, 999, 999,   0,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19])

In [93]:
x = 10
some_array[some_array>x]

array([999, 999, 999, 999,  11,  12,  13,  14,  15,  16,  17,  18,  19])

In [94]:
# randomization will matter a lot for us
np.random.randn(2,4)

array([[ 0.05472211, -1.46288078, -2.39800305,  0.69920275],
       [-1.81155481,  1.08846489, -1.8082044 ,  0.93481773]])

In [95]:
# return random integers from 'low' (inclusive) to 'high' (exclusive)
np.random.randint(1,100,5)

array([71,  6, 34, 33, 93])

In [96]:
other_array = np.arange(25)
other_array # other_array.TAB will show you which methods you can use

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24])

In [97]:
other_array.max() # common method for arrays

24

In [98]:
other_array.reshape(5,5) # another important method

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24]])

In [99]:
other_array.shape # this is an ATTRIBUTE rather than a method

(25,)

# To be edited

Will add links about simple things here if students are curious

https://docs.python.org/2.4/lib/typesnumeric.html

## Dictionaries

Similar to lists, dictionaries are containers of items. However, unlike a list, dictionaries bind a key with its values. In addition to indexing to find values, we can just use the key!

In [ ]:
geo_per_feature = {
    'country' : ["Lesotho", "Laos", "Luxembourg"],
    'capital' : ["Maseru", "Vientiane", "Luxembourg"],
    'continent' : ["Africa", "Asia", "Europe"]
}

geo_per_feature['continent'] # doesn't this look like reading down a column of data for continents?

In [ ]:
geo_per_country = {
    "Lesotho":{"capital": "Maseru", "continent" : "Africa"},
    "Laos":{"capital": "Vientiane","continent" :  "Asia"}, 
    "Luxembourg":{"capital": "Luxembourg", "continent" : "Europe"}
}

geo_per_country['Laos'] # doesn't this look like reading a row of data for Laos?

The real value in a dictionary lies in its fast ability to look up key-value pairs. It is not costly at all for a computer to do this which is very useful when data starts becoming overwhelmingly large.

In [ ]:
'''
you could also use multi
line strings, however these are normally used for making comments on f
'''

Note: using "!" at the beginning of a line runs code as if it were in the command prompt. Putting "%" in front of code causes the argument to be that entire line. Putting "%%" in front of code causes the argument to be the entire cell.

## Ranges

Create a sequence of numbers using the format:

> range(start, end, skip)

This is a very efficient way to create a sequence of numbers with a pattern.

In [ ]:
our_numbers = range(10,50,3)

for number in our_numbers: # this is called a for loop, we will learn it soon
  print(number)

## Sets

List where everything is unique. Duplicate items will be removed. Very useful when you need to check membership and differences. Converting a list to a set can be done by simply using the function set( ) on a list.

In [ ]:
set_a = {"cat", "dog", "mouse"}

set_b = {"dog", "wolf", "hyena"}

set_a.difference(set_b)

In [ ]:
set_a.intersection(set_b)

In [ ]:
set_a.union(set_b)

In [ ]:
set(whats_in_my_fridge) # turn a set into a list